
body {
	margin: 0;
	padding: 0;
}

h1 {
		font-family:  "Montserrat", sans-serif;
}


img {
	border: none;
}

*{
	font-family:  "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

iframe{
		position: relative;
		top: 4px;
		margin: -5px 0 0 0;
}

/*----------------------------------------header-styles---------------------------------------*/

.hamburger{
	height: 50px;
	margin: auto;
	display: none;
	cursor: pointer;
}


.logo img{
  height: 150px;
  width: 15.5rem;
  padding: 4px 25px;
  border-radius: 47%;
}


nav{
  	background: linear-gradient(#e7e3e2,#ebe7e6);
		width: 100%;
}

nav ul{
  float: right;
	margin: 45px 0;
}

nav ul li{
  display: inline-block;
  margin: 0 17px;
	position: relative;
	right: 35px;
	padding: 20px 0;
}

nav ul li a{
  color: #3d444f;
  font-size: 1.6rem;
	font-weight: 600;
	font-family:  "Montserrat", sans-serif;
  padding: 10px 0;
  text-align: center;
	text-transform: uppercase;
	transition: 0.4s ease;
}

nav ul li a:hover{
	color: #cb0709;
}

nav ul li{
		transition: 0.4s ease;
}

nav ul li:hover{
		transform: scale(1.07);
}


.homecolor{
	color: #cb0709;
  background-color: #b1917c;
	padding: 10px 20px;
	border-radius: 25px;
	box-shadow: rgba(50, 50, 60, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}


.homecolor:hover{
  color: #3d444f;
}

.mobile-nav{
	display: block;
	position: fixed;
	top: 0;
	right: 100%;
	width: 30%;
	min-height: 100vh;
	z-index: 999;
	padding-top: 200px;
	background: #3d444f;
	transition: 0.4s;
}

.mobile-nav .is-active{
	right: 0;
}

.mobile-nav a{
color: #dedede;
display: block;
text-align: center;
text-decoration: none;
list-style: none;
margin-bottom: 15px;
padding: 17px;
font-size: 30px;
font-family:  "Montserrat", sans-serif;
}

.mobile-nav a:hover{
color: #cb0709;
}

/*----------------------------------------body-home-styles---------------------------------------*/
.hbwhole{
	background-color: #F5F5F5;
	height: 100%;
	z-index: -3;
}

#homebutton {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 35px;
  z-index: 99;
	font-size: 40px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 1px 5px;
	border-radius: 47%;
		transition: .4s;
}

#homebutton:hover {
	background-color: #555;
}

header img:nth-child(1){
	height: 480px;
	width: fit-content;
	position: absolute;
	left: 100px;
	top: 370px;
	transform: rotate(-20deg);
  animation: appearLeftLeaf 4.5s forwards, moveLeftLeaf 4.5s ease-in-out infinite;

}

@keyframes appearLeftLeaf {
	from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes moveLeftLeaf {
	50% {transform: rotate(-8deg);}
}

header img:nth-child(2){
	height: 480px;
	width: fit-content;
	position: absolute;
	right: 90px;
	top: 370px;
	animation: appearRightLeaf 4.5s forwards, moveRightLeaf 6s ease-in-out infinite;
}

@keyframes appearRightLeaf {
	from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes moveRightLeaf {
	50% {transform: rotate(20deg);}
}

.hbimage {
	background-image: linear-gradient(to bottom, #ebe7e6, #dfd8d6, #d4cac7, #c8bbb7, #bdada8, #b8a69f, #b49f97, #af988e, #b0968a, #b19485, #b19381, #b1917c);
	width: 100%;
	height: 41rem;
border-radius: 0 0 7% 7%;
z-index: 99;
}

.hbimage::before{
	z-index: -1;
	content: '';
	width: 100%;
	height: 41rem;
	background-color: #3d444f;
	position: absolute;
	padding-bottom: 40px;
}

.inner_box{
position: relative;
  top: 290px;
  left: 50%;
  transform:translate(-50%,-50%);
  padding: 30px;
  text-align:center;
	max-width: 100%;
	height: 510px;
	color: #6B6B6B;
}

.inner_box h2{
  font-family:  "Lusitana", sans-serif;
	font-style: italic;
  font-size: 4.675rem;
  font-weight: lighter;
	color: #3d444f;
	margin: 100px auto 20px auto;
  max-width: 900px;
	position: relative;
  animation: moveTitle 2.5s ease-in-out forwards;
}

@keyframes moveTitle {
	from {top: -100px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}


.schedulebutton{
	background: #3d444f;
	 padding: 10px 35px;
	 border: none;
	border-radius: 25px;
  color: #dedede;
	font-size: 2.2625rem;
	cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
		transition: .4s ease-out;
		position: relative;
	  animation: moveButton 2.5s ease-in-out forwards;
}

@keyframes moveButton {
	from {bottom: -100px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

.schedulebutton:hover{
	transform: scale(1.03);
}

#homeabout{
	background-color: #3d444f;
	padding: 200px 0 20px 0;
	z-index: -3;
}

#homeabout h1{
font-family:  "Lusitana", sans-serif;
font-size: 80px;
color: #cb0709;
width: fit-content;
display: block;
margin: auto;
position: relative;
bottom: 130px;
}

.homeabout-content{
	max-width: 1290px;
	margin: 5px auto auto auto;
	padding: 20px 0;
	position: relative;
	bottom: 100px;
}

.homeabout-text-appear{
	animation: homeAboutTextAppear 1.5s ease-in-out;
  visibility: visible;
}

@keyframes homeAboutTextAppear {
	from {opacity: 0;}
  to {opacity: 1;}
}

.homeabout-content, p:nth-child(0){
visibility: hidden;
}


#homeabout-text{
	width: 70%;
	line-height: 1.6;
	margin: 0 auto;
	padding: 0 5px;
	position: relative;
	bottom: 5px;
	font-size: 1.35rem;
	color: #dedede;
	text-align: center;
}

.homeabout-specialist{
	background-color: #dedede;
	padding: 20px 0;
	margin: -60px auto 60px auto;
	max-width: 1000px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	border-radius: 3px;
}


.homeabout-specialist h2{
font-family:  "Lusitana", sans-serif;
font-size: 40px;
color: #cb0709;
width: 585px;
display: block;
margin: 60px auto 0 auto;
text-align: center;
}


.homeabout-specialist hr{
	margin: 0 auto;
  width: 550px;
	color: #cb0709;
}

.homeabout-specialist img{
	display: block;
	margin: 30px auto;
	height: 600px;
	border: 5px solid #6f7377;
}

.homeabout-specialist h3{
	font-family:  "Lusitana", sans-serif;
	font-size: 40px;
	margin: 0 auto 60px auto;
	text-align: center;
	color: #cb0709;
}


.homeservices{
		background:#6f7377;
	padding: 175px 50px ;
}

.homeservices h1{
	font-family:  "Lusitana", sans-serif;
	font-size: 80px;
	color: #3d444f;
	width: fit-content;
	margin: auto;
	position: relative;
	bottom: 35px;
}

.homeservices p{
	font-family:  "Lusitana", sans-serif;
	font-size: 22px;
	color: #3d444f;
	width: fit-content;
	margin: auto;
	position: relative;
	bottom: 25px;
	width: 100%;
}

.homeservices-box{
	display: inline-block;
	background: #3d444f;
	margin: 30px 40px;
	padding: 170px 80px;
border-radius: 3%;
transition: .2s ease;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.homeservices-box:hover{
	transform: scale(1.01);
}

.homeservices-box img{
	height: 100px;
	position: relative;
	bottom: 25px;
}

.homeservices-box hr{
	position: relative;
	bottom: 20px;
	width: 350px;
	background:#6f7377;
	  border: none;
		border-radius: 28px;
		padding: 1px;
}

.homeservices-box p{
	position: relative;
	bottom: 5px;
font-size: 2.5625rem;
	color: #dedede;
 font-family:  "Montserrat", sans-serif;
}

.homeservices button{
	background: #3d444f;
	 padding: 10px 20px;
	 border: none;
	border-radius: 28px;
  color: #dedede;
	font-size: 2.5625rem;
	margin: 55px auto 0 auto;
	cursor: pointer;
	font-family:  "Lusitana", sans-serif;
	display: flex;
	justify-content: center;
		transition: .4s;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.homeservices button:hover{
	transform: scale(1.05);
}

.homecontact{
		background:#cb0709;
	padding: 100px 0;
}

.homecontact h1{
	font-family:  "Lusitana", sans-serif;
	font-size: 80px;
	color: #dedede;
	width: fit-content;
	margin: 0 auto 35px auto;
}

.homecontact img{
padding: 10px 0;
height: 50px;
}

.homecontact table{
padding: 0;
font-size: 30px;
position: relative;
bottom: 10px;
left: 30px;
}

.homecontact-links {
	text-decoration: none;
	   color: #dedede;
		 transition: .4s ease-out;
}

.homecontact-links:hover {
	   color: #3d444f;
}



/*----------------------------------------body-services-styles---------------------------------------*/

.sbwhole{
	background: linear-gradient(#ebe7e6,#af9890);
	height: 100%;
	margin: 0;
}

#header nav{
	background: #e7e2e1;
}

#servicesbutton {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 35px;
  z-index: 99;
	font-size: 40px;
	border: none;
	outline: none;
	background-color: #cb0709;
	color: white;
	cursor: pointer;
	padding: 1px 5px;
	border-radius: 47%;
	transition: .4s;
}

#servicesbutton:hover {
	background-color: #3d444f;
}

/*bubbles animation*/

.bubbles{
	max-width: 1353px;
	height: 100vh;
	margin: 0 auto;
	position: absolute;
  left: 8%;
	overflow: inherit;
	z-index: -1;
}

@keyframes bubblesFall {
	0%{
		opacity: 0.025;
		transform: translateY(0px) rotate(0deg);
	}


	100%{
		opacity: 1;
		transform: translateY(4000px) rotate(700deg);
	}
}


.bubbles img:nth-child(1){
	height: 100px;
	animation: bubblesFall 20s linear infinite;
}

.bubbles img:nth-child(2){
	height: 70px;
	animation: bubblesFall 75s linear  infinite;
}

.bubbles img:nth-child(3){
	height: 30px;
	animation: bubblesFall 40s linear infinite;
}
.bubbles img:nth-child(4){
	height: 150px;
	animation: bubblesFall 55s linear infinite;
}

.bubbles img:nth-child(5){
	height: 200px;
	animation: bubblesFall 27s linear infinite;
}

.bubbles img:nth-child(6){
	height: 70px;
	animation: bubblesFall 45s linear infinite;
}
.bubbles img:nth-child(7){
	height: 170px;
	animation: bubblesFall 35s linear infinite;
}
.bubbles img:nth-child(8){
	height: 220px;
	animation: bubblesFall 50s linear infinite;
}
.bubbles img:nth-child(9){
	height: 120px;
	animation: bubblesFall 60s linear infinite;
}
.bubbles img:nth-child(10){
	height: 50px;
	animation: bubblesFall 22s linear infinite;
}
.bubbles img:nth-child(11){
	height: 100px;
	animation: bubblesFall 17s linear infinite;
}
.bubbles img:nth-child(12){
	height: 80px;
	position: absolute;
	left: 60px;
	animation: bubblesFall 32s linear infinite;
}

/*bubbles animation*/

.services-container{
	max-width: 1200px;
  height: 100%;
	margin: 60px auto 200px auto;
}

.services-card-container{
	max-width: 1150px;
	background-color: #3d444f;
	display: flex;
	flex-direction: column;
	margin: 120px auto 70px auto;
	padding: 80px 0;
	border-radius: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.servicestitle{
	font-family:  "Lusitana", sans-serif;
	font-size:3.716rem;
	font-weight: lighter;
	color: #cb0709;
	position: relative;
	left: 25px;
	width: fit-content;

}

.servicestext{
		font-size: 1.7rem;
		width: 70%;
		line-height: 1.5;
		color: #3d444f;
		position: relative;
		left: 25px;
}

.payment-text{
	font-size:1.6rem;
	font-weight: lighter;
	color: #cb0709;
width: fit-content;
}

.services-treatments{
	  font-family:  "Lusitana", sans-serif;
		color: #cb0709;
	  font-size: 2.7rem;
		width: fit-content;
		margin: -49px auto 0 auto;
		font-weight: normal;
}

.treatment-desc{
	font-size: 1.5rem;
	text-align: center;
	width: 75%;
	margin: 10px auto 0 auto;
}

.treatment-cost{
	font-size: 2.15rem;
	text-align: center;
	width: fit-content;
	margin: 60px auto 0 auto;
}

.services-card-container a{
	margin: 30px auto 0 auto;
	background: #cb0709;
	 border: 2px solid #dedede;
	border-radius: 50%;
	position: relative;
	top: 30px;
   color: #dedede;
   padding: 45px 15px;
   text-decoration: none;
	 cursor: pointer;
	 font-size: 1.35rem;
	 transition: .4s;
 }

.services-card-container a:hover{
	transform: scale(1.06);
 }

 .popup{
width: 500px;
position: absolute;
 }

/*----------------------------------------body-contact-styles---------------------------------------*/
p{
		color: #dedede;
}

#contactbutton {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 35px;
  z-index: 99;
	font-size: 40px;
	border: none;
	outline: none;
	background-color: #3d444f;
	color: white;
	cursor: pointer;
	padding: 1px 5px;
	border-radius: 47%;
	transition: .4s;
}

#contactbutton:hover {
	background-color: #cb0709;
}


.cbwhole{
	background-color: #cb0709;
	height: 100%;
}

.contactmetitle{
  font-family:  "Lusitana", sans-serif;
	text-align: center;
	font-size:3.516rem;
	font-weight: lighter;
	color: #dedede;
	width: fit-content;
	margin: 70px auto 0 auto;
}

.contacthr{
	width: 50%;
	border-radius: 28px;
	border: 3px solid #dedede;
	margin: 10px auto 20px auto;
}

.contactmetext{
	font-size: 1.5rem;
	width: 70%;
	line-height: 1.5;
	margin: 25px auto 0 auto;
}

.containercontact{
position: relative;
top: 4px;

}

.contact-box{
background: #cb0709;
display: flex;
}

.contact-left{
flex-basis: 60%;
padding: 40px 60px;
color: #dedede;
background: #3d444f;
border-radius: 85px 0 0 0;
}

.contact-left h1{
			font-family:  "Lusitana", sans-serif;
	margin: 40px auto 0 auto;
}

.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: #6B6B6B;
	color: #dedede;
	border-radius: 0 0 85px 0;
}

.contact-right h1{
			font-family:  "Lusitana", sans-serif;
	margin: 40px auto 0 auto;
}

.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.input-row .input-group{
flex-basis: 45%;
}

input{
	width: 100%;
	border: none;
	border-bottom: 3px solid #cb0709;
	border-right: 3px solid #cb0709;
	outline: none;
	padding: 5px;
  border-radius: 0 0 28px;
}

textarea{
	width: 100%;
	border: none;
	border-bottom: 3px solid #cb0709;
	border-right: 3px solid #cb0709;
	outline: none;
	border-radius: 0 0 28px;
	resize: none;
	padding: 5px;
}

label{
	margin-bottom: 5px;
	display: block;
}

.contactbtn{
	background: #FFFF;
	 border: none;
	 border-bottom: 3px solid #cb0709;
	 border-right: 3px solid #cb0709;
	border-radius: 0 0 28px;
   color: #6B6B6B;
   font-size: 15px;
   padding: 10px 25px;
   text-decoration: none;
	 cursor: pointer;
 }

 .contactbtn:hover{
background: #dedede;
	transition: .4s;
	transform: scale(1.1);
 }

td{
	padding-right: 25px;
}

tr td{
	padding-top: 25px;
}

.links{
	text-decoration: none;
	   color: #dedede;
}

.links:hover{
	text-decoration: none;
	   color: #3d444f;
		 transition: .4s;
}

.instagram-logo {
	display: block;
	margin: 10px auto;
}

.viewservicesbtn{
	background: #3d444f;
	 border: none;
	border-radius: 28px;
   color: #dedede;
   font-size: 20px;
   padding: 15px 30px;
   text-decoration: none;
	 cursor: pointer;
	 	transition: .4s;
		margin-top: 15px;
 }

 .viewservicesbtn:hover{
	transform: scale(1.1);
 }

/*----------------------------------------footer-styles---------------------------------------*/

.footer-logo{
  height: 140px;
  width: 14rem;
  border-radius: 47%;
position: relative;
bottom: 15px;
}

#footer {
	background-color: #6f7377;
	padding: 35px 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 25px 0 0 0;
	position: relative;
	bottom: 15px;
}

#footer div p {
	color: #FFFFFF;
	display: block;
	font-family:  "Montserrat", sans-serif;
	font-size: 0.9rem;
	line-height: 1.5;
	font-weight: normal;
	margin: 0;
	padding: 15px 0 15px;
	text-align: center;
}

.services-footer {
	background-color: #6f7377;
	padding: 35px 0;
	width: 100%;
}

.services-footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 25px 0 0 0;
	position: relative;
	bottom: 15px;
}

.services-footer div p {
	color: #FFFFFF;
	display: block;
	font-family:  "Montserrat", sans-serif;
	font-size: 1.9rem;
	line-height: 1.5;
	font-weight: normal;
	margin: 0;
	padding: 15px 0 15px;
	text-align: center;
}


.instagram-logo{
	height: 70px;
	width: 70px;
  padding: 5px 0 0 0;
margin-bottom: 10px;
transition: 0.4s;
}

.instagram-logo:hover{
  transform: scale(1.1);
}
